<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="shortcut Icon" type="image/x-icon" href="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">

  <!-- core -->
  <script src="/static/core/jquery-3.5.1/jquery-3.5.1.min.js"></script>
  <link href="/static/core/bootstrap-5.1.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="/static/core/bootstrap-5.1.2/js/bootstrap.bundle.min.js"></script>
  
  <!-- plugins -->
  <script src="/static/plugins/vue-2.6.12/vue.js"></script>
  <link href="/static/plugins/fontawesome-free-5.15.1-web/css/all.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.9.22/interact.min.js"></script>
  <!-- <link href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css" rel="stylesheet">
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script> -->

  <!-- main -->
  <link href="/static/common/css/main.css" rel="stylesheet">
</head>
<body>
  <div id="wrap">
    <header>
        <script>$.get('include/header.html', (res)=>{ $('header')[0].outerHTML=res } )</script>
    </header>

    <main id="main">
      <div class="container py-5" style="max-width: 800px">
        <div style="border: 5px solid gray">
          <div class="ratio ratio-16x9">
            <div id="dragContainer">
              <div id="BG-drag" class="js-draggable-bg" :data-id="bg['view'].id"
                :data-x="bg['view'].x" :data-y="bg['view'].y"
                :style="`transform: translate(${bg['view'].x}px,${bg['view'].y}px);`">
                <img id="BG-img" :src="bg['view'].src" @load="init_BG()"
                  :style="`
                    width: ${ bg['view'].px_w * bgScale }px; 
                    height: ${ bg['view'].px_h * bgScale }px;
                  `
                ">

                <div id="paint-dragBox" class="pos-a loc-full">
                  <img v-for="(item, idx) in paint.add" class="draggable-paint js-draggable-paint" :data-id="item.id" style="box-shadow: 0 0 4px rgba(0,0,0,0.2);"
                    :data-x="item.x" :data-y="item.y" :src="item.src"
                    :style="`transform: translate(${item.x}px, ${item.y}px);
                      width: ${ item.cm_w * paintScale }px;
                      height: ${ item.cm_h * paintScale }px;
                    `
                  ">
                </div>
              </div>

              <div id="paint-ruler" class="bg-grid-line pos-a js-draggable-bg"
                  :data-x="-container.w * 0.5" :data-y="-container.h * 0.5"
                  style="display: none"
                  :style="`transform: translate( ${-container.w * 0.5}px, ${-container.h * 0.5}px); 
                    background-size: ${100 * paintScale}px ${100 * paintScale}px; 
                    width: ${container.w * 2}px; height: ${container.h * 2}px;`
                  "></div>
            </div>
          </div>
        </div>

        <div id="botMenu">
          <div id="rangeCont-paint">
            <div class="d-flex flex-column container-xl py-2" style="background-color: rgba(255,255,255,0.5)">
              <div class="text-center fw-bold">比例尺 (一格=1公尺) {{ paint.scaleRange.val }}</div>
              <div class="d-flex">
                <i id="ruler-scaleDown" class="fa fa-minus px-1"></i>
                <input id="ruler-scaleRange" type="range" :min="paint.scaleRange.min" :max="paint.scaleRange.max" step="0.001" class="w-100" v-model.number="paint.scaleRange.val" @input="scale_after_center_paint()">
                <i id="ruler-scaleUp" class="fa fa-plus px-1"></i>
              </div>
            </div>
          </div>

          <!-- <div id="rangeCont-bg">
            <div class="d-flex flex-column container-xl py-2" style="background-color: rgba(255,255,255,0.5)">
              <div class="text-center fw-bold">縮放 {{ bg.scaleRange.val }}</div>
              <div class="d-flex">
                <i id="bg-scaleDown" class="fa fa-minus px-1"></i>
                <input id="bg-scaleRange" type="range" :min="bg.scaleRange.min" :max="bg.scaleRange.max" step="0.01" class="w-100" v-model.number="bg.scaleRange.val" @input="scale_after_center_BG()">
                <i id="bg-scaleUp" class="fa fa-plus px-1"></i>
              </div>
            </div>
          </div> -->
          
          
          <div id="botMenu-content" class="bg-white">
            <nav id="botMenu-header">
              <div class="nav nav-tabs" role="tablist">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#menu-paint" type="button" role="tab">畫作</button>
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-bg" type="button" role="tab">背景</button>
                <button class="btn btn-secondary" onclick="$('#paint-ruler').toggle(); $(this).toggleClass('btn-success')"><i class="fa fa-ruler"></i></button>
              </div>
            </nav>

            <div id="botMenu-body" class="tab-content">
              <div id="menu-paint" class="tab-pane fade show active" role="tabpanel">
                <div class="row">
                  <div class="col-3" v-for="(item,idx) of paint.list">
                    <div class="imgBox img-full img-cover" :class="{ active: item.show }"
                      :style="`background-image: url(${item.src})`" @click="list_toggle_Paint( idx )">
                    </div>
                  </div>
                </div>
              </div>
  
              <div id="menu-bg" class="tab-pane fade" role="tabpanel">
                <div class="mb-2">選擇背景: <input id="file" type="file" accept="image/*" @change="upload_BG"></div>
                <label> <input type="radio" v-model="bg.mode" value="contain" @change="clear_paint() "> 全螢幕 contain </label>
                <label> <input type="radio" v-model="bg.mode" value="cover" @change="clear_paint() "> 填滿 cover </label>

                <div class="row">
                  <div class="col-3" v-for="(item,idx) of bg.list">
                    <div class="imgBox img-full img-cover" :style="`background-image: url(${item.src})`" @click="list_change_Bg( idx )">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </main>

    <script>
      function dragMoveListener(event) {
        let $TG = $(event.target)
        let x = ( (+$TG.attr('data-x') ) || 0) + event.dx
        let y = ( (+$TG.attr('data-y') ) || 0) + event.dy
        $TG.attr('data-x', x)
        $TG.attr('data-y', y)
        $TG.css('transform', 'translate('+x+'px, '+y+'px)')
      }

      var vm = new Vue({
        el: '#main',
        mounted() {
          let V = this
          V.init_BG()
          $(window).on('resize',()=>{
            V.init_BG()
          })
          
          // BG
          interact('.js-draggable-bg').draggable({
            listeners: {
              start(event) {
              },
              move(event) {
                dragMoveListener( event )
              },
              end(event) {
                var $target = $(event.target)
                var id = $target.attr('data-id')

                let BGv = V.bg.view
                if ( BGv.id == id ){
                  BGv.x = +$target.attr('data-x')
                  BGv.y = +$target.attr('data-y')
                }
              }
            },
            inertia: true,
            modifiers: [
              interact.modifiers.restrictRect({
                restriction: $('#dragContainer')[0],
                endOnly: true,
              })
            ],
          })

          // Paint
          interact('.js-draggable-paint').draggable({
            listeners: {
              start(event) {
              },
              move(event) {
                dragMoveListener( event )
              },
              end(event) {
                var $target = $(event.target)
                var id = $target.attr('data-id')
                V.paint.add.forEach( (ele, idx, arr)=>{
                  if ( ele.id == id ){
                    arr[idx].x = +$target.attr('data-x')
                    arr[idx].y = +$target.attr('data-y')
                  }
                })
              }
            },
            inertia: true,
            modifiers: [
              interact.modifiers.restrictRect({
                restriction: $('#BG-drag')[0],
                endOnly: true,
              })
            ],
          })
        },
        data: {
          container: {
            w: window.innerWidth,
            h: window.innerHeight,
            ratio: window.innerWidth / window.innerHeight
          },
          bg: {
            mode: 'cover',
            scaleRange: {
              min: 0,
              max: 10,
              val: 1,
              oldVal: null,
            },
            view: { 
              id: 1005,
              px_w: 100, px_h: null,
              nat_w: null, nat_h: null, ratio: null,
              fit_w: null, fit_h: null, fit_s: null, // fit: 圖片到該容器時的寬高，cover、contain會有所變化。
              // src: 'http://www.asiaartcenter.org/asia/wp-content/uploads/2022/05/about_slide_225.jpg', // suit
              // src: 'https://img95.699pic.com/photo/40007/7298.jpg_wh300.jpg', // long width
              // src: 'https://1.bp.blogspot.com/-fPN9eStiEvg/V5cEU-srlxI/AAAAAAAASao/_PZuow9oIzUEXHdYPPlmjyE_WHdHEYO1gCEw/s1600/PICT_20150402_003554.JPG', // long height
              src: 'https://www.bridgemi.com/sites/default/files/styles/full_width_image/public/2022-02/school%20shutterstock.jpg?itok=TX4abe5q',
              x: 0, y: 0,
            },
            list: [
              { id: 4004, src: 'https://picsum.photos/1600/1200', },
              { id: 4005, src: 'https://picsum.photos/1200/1600', },
            ],
          },
          paint: {
            scaleRange: {
              min: 0.05,
              max: 0.4,
              val: 0.25,
              oldVal: null,
            },
            add: [],
            list: [
              { id: 1001, cm_w: 60, cm_h: 40, src: 'https://picsum.photos/600/400', show: false },
              { id: 1002, cm_w: 60, cm_h: 80, src: 'https://picsum.photos/300/400', show: false },
              { id: 1003, cm_w: 100, cm_h: 100, src: 'https://picsum.photos/500/500', show: false },
            ],
          }
        },
        computed: {
          bgScale(){
            let V = this
            return V.bg.view.fit_s * V.bg.scaleRange.val
          },
          paintScale(){
            let V = this
            return V.bg.view.fit_s * V.bg.scaleRange.val * V.paint.scaleRange.val
          },
        },
        methods: {
          addItem(arr, obj) {
            arr.push(obj)
          },
          delItem(arr, idx) {
            arr.splice(idx, 1)
          },

          upload_BG(evt){
            let V = this
            let target = evt.target
            if (target.files && target.files[0]) {
              var reader = new FileReader()
              reader.readAsDataURL(target.files[0])
              reader.onload = function() {
                let base64 = this.result
                V.bg.view.src = base64
              }
            }
          },

          list_change_Bg( idx ){
            this.bg.view.src = this.bg.list[idx].src
          },

          list_toggle_Paint( idx ){
            let V = this
            let List = V.paint.list
            let Add = V.paint.add

            if ( List[idx].show === false ){ // paint => will add to container
              List[idx].show = true
              Add.push( List[idx] )
              Add[Add.length-1].x = V.bg.view.fit_w / 2 - List[idx].cm_w * V.paintScale / 2
              Add[Add.length-1].y = V.bg.view.fit_h / 2 - List[idx].cm_h * V.paintScale / 2
            } else { // paint in container => will delete
              List[idx].show = false
              let delIdx = Add.findIndex( item => item.id == List[idx].id )
              Add.splice(delIdx,1)
            }
          },

          init_BG(){
            let V = this
                V.bg.scaleRange.val = 1
            
            let Img = $('#BG-img')[0]
            let BG = V.bg.view
                BG.nat_w = Img.naturalWidth
                BG.nat_h = Img.naturalHeight
                BG.ratio = BG.nat_w / BG.nat_h // 圖片長寬比
                BG.px_w = 100 // 寬100px為固定100公分。 定義100px = 100公分
                BG.px_h = BG.px_w / BG.ratio // 寬100公分(px) / 高x公分(px)

            let CONT = V.container
                CONT.w = $('#dragContainer').width() || window.innerWidth
                CONT.h = $('#dragContainer').height() || window.innerHeight
                CONT.ratio = CONT.w / CONT.h // 寬/高比

            let modeBool = V.bg.mode === 'cover' ? BG.ratio > CONT.ratio : BG.ratio < CONT.ratio

            if ( modeBool ){ // 寬/高比: 圖片 > 容器 (cover)
              BG.fit_h = CONT.h
              BG.fit_w = CONT.h * BG.ratio
              BG.x = -( BG.fit_w - CONT.w ) / 2
              BG.y = 0
            } else {
              BG.fit_w = CONT.w
              BG.fit_h = CONT.w / BG.ratio
              BG.x = 0
              BG.y = -( BG.fit_h - CONT.h ) / 2
            }

            BG.fit_s = BG.fit_w / BG.px_w

            this.paint.add.forEach((e)=>{
              e.x = V.bg.view.fit_w / 2 - e.cm_w * V.paintScale / 2
              e.y = V.bg.view.fit_h / 2 - e.cm_h * V.paintScale / 2
            })
          },

          clear_paint(){
            this.init_BG()
          },

          scale_after_center_BG(){
            let V = this
            let { view:BG_V, scaleRange:BG_S } = V.bg
            let oldValue = +BG_S.oldVal || +BG_S.val
            let newValue = +BG_S.val

            BG_V.x -= BG_V.fit_w * ( newValue - oldValue ) / 2
            BG_V.y -= BG_V.fit_h * ( newValue - oldValue ) / 2
            
            let amp = newValue / oldValue
            V.paint.add.forEach( p => {
              p.x = p.x * amp
              p.y = p.y * amp
            }) 
            
            BG_S.oldVal = newValue
          },

          scale_after_center_paint(){
            let V = this
            let { scaleRange:PTScale } = V.paint
            let oldValue = +PTScale.oldVal || +PTScale.val
            let newValue = +PTScale.val

            let oS = V.bgScale * oldValue
            let nS = V.bgScale * newValue
            V.paint.add.forEach( p => {
              p.x -= p.cm_w * (nS - oS) / 2
              p.y -= p.cm_h * (nS - oS) / 2
            })

            PTScale.oldVal = newValue
          },
        }
      })

      function getTransform( target ){
        var style = window.getComputedStyle( target )
        var matrix = new WebKitCSSMatrix(style.transform)
        var {a,b,c,d,e,f,m11,m12,m13,m14,m21,m22,m23,m24,m31,m32,m33,m34,m41,m42,m43,m44} = matrix
        return { x: m41, y: m42 }
      }
    </script>
  </div>
</body>
</html>