<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="shortcut Icon" type="image/x-icon" href="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">

  <!-- core -->
  <script src="/static/core/jquery-3.5.1/jquery-3.5.1.min.js"></script>
  <link href="/static/core/bootstrap-5.1.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="/static/core/bootstrap-5.1.2/js/bootstrap.bundle.min.js"></script>


  <!-- plugins -->
  <!-- <link href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
  <link href="/static/plugins/fontawesome-free-5.15.1-web/css/all.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.9.22/interact.min.js"></script>

  <!-- main -->
  <link href="/static/common/css/main.css" rel="stylesheet">
  <script src="/static/common/js/main.js"></script>
</head>
<body>
  <div id="wrap" style="overflow: hidden;">
    <header>
        <script>$.get('include/header.html', (res)=>{ $('header')[0].outerHTML=res } )</script>
    </header>

    <div id="dragContainer">
      <div id="BG-drag" class="js-draggable" data-x="0" data-y="0" style="transform: translate(0,0)">
        <img id="BG-img" src="https://picsum.photos/600/800" onload="getData_BG()"
          data-nat-w="0" data-nat-h="0" data-nat-r="0" data-fit-w="0" data-fit-y="0" data-fit-s="0" data-evt-s="1">
        <div id="print-drag-container" class="pos-a loc-full">

        </div>
      </div>

      <div class="pos-f loc-full bg-grid-line" style="background-size: 100px 100px; pointer-events: none;"></div>

    </div>

    <div id="botMenu" class="pos-f loc-2 w-100">
      <div id="rular-container" class="pos-a loc-t" style="top: -60px;">
        <div class="d-flex flex-column container-xl py-2" style="background-color: rgba(255,255,255,0.5)">
          <div class="text-center fw-bold">比例尺</div>
          <div class="d-flex">
            <i id="ruler-scaleDown" class="fa fa-minus px-1"></i>
            <input id="ruler-scaleRange" type="range" min="0.2" max="5" step="0.01" value="1" class="w-100">
            <i id="ruler-scaleUp" class="fa fa-plus px-1"></i>
          </div>
        </div>
      </div>

      <div class="text-end">
        <i class="btn btn-primary btn-lg fa fa-bars" onclick="$('#botMenu-content').toggle()"></i>
      </div>

      <div id="botMenu-content" class="bg-white" style="min-height: 230px;">
        <nav id="botMenu-header">
          <div class="nav nav-tabs" role="tablist">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#menu-print" type="button" role="tab">畫作</button>
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-bg" type="button" role="tab">背景</button>
          </div>
        </nav>
        <div id="botMenu-body" class="tab-content">
          <div id="menu-print" class="tab-pane fade show active" role="tabpanel">
            <div class="d-flex">
              <div class="imgBox img-full img-contain" style="background-image: url(https://picsum.photos/400/300);" onload="">
                <button class="js-addBtn btn btn-primary fas fa-plus pos-a loc-9"></button>
              </div>
              <div class="imgBox img-full img-contain" style="background-image: url(https://picsum.photos/300/400);" onload="">
                <button class="js-addBtn btn btn-primary fas fa-plus pos-a loc-9"></button>
              </div>
              <div class="imgBox img-full img-contain" style="background-image: url(https://picsum.photos/300/300);" onload="">
                <button class="js-addBtn btn btn-primary fas fa-plus pos-a loc-9"></button>
              </div>
            </div>
          </div>
          <div id="menu-bg" class="tab-pane fade" role="tabpanel">
              <div class="mb-2">選擇背景: <input id="file" type="file" accept="image/*"></div>
              <div class="d-flex">
                <i id="bg-scaleDown" class="fa fa-minus px-1"></i>
                <input id="bg-scaleRange" type="range" min="0.2" max="5" step="0.01" value="1" class="w-100">
                <i id="bg-scaleUp" class="fa fa-plus px-1"></i>
              </div>
              <button id="rular-btn" class="btn btn-primary">設定實際比例</button>
            </div>
        </div>
      </div>
    </div>

    <script>
      $(function(){
        setFullScreenSize('#wrap')
        $(window).on('resize',()=>{
          setFullScreenSize('#wrap')
          getData_BG()
        })
      })

      // listeners
      $('#menu-print').on('click','.js-addBtn', function(){
        let src = $(this).closest('.imgBox').css('background-image')
        src = src.replace( /url\("(.+)"\)/g,'$1')
        append_Print( src )
      })
      $('#bg-scaleRange').on('input',()=>{
        scale_BG()
      })
      $('#bg-scaleUp').on('click',()=>{
        $('#bg-scaleRange').val( +$('#bg-scaleRange').val()+0.1 )
        scale_BG()
      })
      $('#bg-scaleDown').on('click',()=>{
        $('#bg-scaleRange').val( +$('#bg-scaleRange').val()-0.1 )
        scale_BG()
      })
      $('#file').on('change',function(){
        upload_BG(this)
      })

      function getData_Print(){
        
      }

      function getData_BG(){
        let Img = $('#BG-img')[0]
        var BG = {
          nat_w: 0, nat_h: 0, nat_r: 0,
          fit_w: 0, fit_h: 0, fit_s: 0, 
          evt_s: 1,
          x: 0, y: 0,
        }

        BG.evt_s = 1
        BG.nat_w = Img.naturalWidth
        BG.nat_h = Img.naturalHeight
        BG.nat_r = BG.nat_w / BG.nat_h // 圖片長寬比
        let wRatio = window.innerWidth / window.innerHeight // 螢幕長寬比
        if ( BG.nat_r > wRatio ){ // 圖片寬/高比 > 螢幕 (cover)
          BG.fit_h = window.innerHeight
          BG.fit_w = window.innerHeight * BG.nat_r
          BG.x = -( BG.fit_w - window.innerWidth ) / 2
          BG.y = 0
        } else {
          BG.fit_w = window.innerWidth
          BG.fit_h = window.innerWidth / BG.nat_r
          BG.x = 0
          BG.y = -( BG.fit_h - window.innerHeight ) / 2
        }
        BG.fit_s = BG.fit_w / Img.naturalWidth

        $('#BG-img').attr('data-nat-w', BG.nat_w )
        $('#BG-img').attr('data-nat-h', BG.nat_h )
        $('#BG-img').attr('data-nat-r', BG.nat_r )
        $('#BG-img').attr('data-fit-w', BG.fit_w )
        $('#BG-img').attr('data-fit-h', BG.fit_h )
        $('#BG-img').attr('data-evt-s', BG.evt_s )
        $('#BG-img').css('width', BG.fit_w)
        $('#BG-img').css('height', BG.fit_h)

        $('#BG-drag').attr('data-x', BG.x)
        $('#BG-drag').attr('data-y', BG.y)
        $('#BG-drag').css('transform', `translate(${BG.x}px,${BG.y}px)`)

        $('#bg-scaleRange').val( BG.evt_s )
      }

      function scale_Print(){

      }

      function scale_BG(){
        let BG = {
          fit_w: +$('#BG-img').attr('data-fit-w'), 
          fit_h: +$('#BG-img').attr('data-fit-h'),
          evt_s: +$('#BG-img').attr('data-evt-s'),
          x: +$('#BG-drag').attr('data-x'),
          y: +$('#BG-drag').attr('data-y'),
        }

        let newScale = +$('#bg-scaleRange').val()
        let oldScale = BG.evt_s
        let min = +$('#bg-scaleRange').attr('min')
        let max = +$('#bg-scaleRange').attr('max')
        newScale = newScale < min ? min : newScale
        newScale = newScale > max ? max : newScale

        BG.x += -( BG.fit_w*newScale - BG.fit_w*oldScale ) / 2
        BG.y += -( BG.fit_h*newScale - BG.fit_h*oldScale ) / 2

        $('#BG-img').attr('data-evt-s', newScale)
        $('#BG-img').css('width', BG.fit_w*newScale)
        $('#BG-img').css('height', BG.fit_h*newScale)
        $('#BG-drag').css('transform', `translate(${BG.x}px,${BG.y}px)`)
        $('#BG-drag').attr('data-x', BG.x)
        $('#BG-drag').attr('data-y', BG.y)
      }

      function upload_BG(self) {
        if (self.files && self.files[0]) {
          var reader = new FileReader()
          reader.readAsDataURL(self.files[0])
          reader.onload = function(e) {
            let base64 = this.result
            // let img = new Image()
            // img.src = base64
            // img.onload = function(e){
              $('#BG-img').attr('src', base64)
              $('#BG-img').addClass('js-customBG')
              getData_BG()
            // }
          }
        }
      }

      function append_Print( src ){
        let uuid = _uuid()
        let img = new Image()
        img.src = src
        img.onload = function(e){
          let w = 150
          let h = 150
          let x = window.innerWidth/2 - w/2
          let y = window.innerHeight/2 - h/2
          let ImgHtml = `<img id="pic-${uuid}" src="${src}" class="js-draggable" style="width: ${w}px; height: ${h}px; transform: translate(${x}px,${y}px)" data-x="${x}" data-y="${y}">`
          $('#print-drag-container').append( ImgHtml )
        }
      }
      
      $(function(){
        ImgDraggable()
        // ImgResizable()
        // ImgGesturable()
      })

      function ImgDraggable(){
        interact('.js-draggable')
          .draggable({
            listeners: { move: dragMoveListener },
            // inertia: true,
            // modifiers: [
            //   interact.modifiers.restrictRect({
            //     restriction: $('#dragContent')[0],
            //   })
            // ],
          })
      }
      
      function ImgGesturable(){
        interact('#BG-img')
          .gesturable({
            listeners: {
              start (event) {
              },
              move (event) {
                var newScale = BG.evt_s * event.scale

                $(event.target).css({ 
                  width: BG.fit_w * newScale, 
                  height: BG.fit_h * newScale 
                })

                dragMoveListener(event)
              },
              end (event) {
                BG.evt_s = BG.evt_s * event.scale
              }
            },
            // inertia: true
          })
          .draggable({
            listeners: { move: dragMoveListener },
            // inertia: true
          })
      }

      function ImgResizable(){
        interact('.js-resizable')
          .resizable({
            // resize from all edges and corners
            edges: { left: true, right: true, bottom: true, top: true },

            listeners: {
              move (event) {
                var target = event.target
                var x = (parseFloat(target.getAttribute('data-x')) || 0)
                var y = (parseFloat(target.getAttribute('data-y')) || 0)

                // update the element's style
                target.style.width = event.rect.width + 'px'
                target.style.height = event.rect.height + 'px'

                // translate when resizing from top or left edges
                x += event.deltaRect.left
                y += event.deltaRect.top

                target.style.transform = 'translate(' + x + 'px,' + y + 'px)'
                
                target.setAttribute('data-x', x)
                target.setAttribute('data-y', y)
              }
            },
            modifiers: [
              interact.modifiers.aspectRatio({
                ratio: 16/9,
                // modifiers: [
                //   interact.modifiers.restrictEdges({ outer: 'parent' })
                // ]
              }),

              // keep the edges inside the parent
              // interact.modifiers.restrictEdges({
              //   outer: 'parent'
              // }),

              // minimum size
              interact.modifiers.restrictSize({
                min: { width: 100, height: 100 }
              })
            ],

            inertia: true
          })
          .draggable({
            listeners: { move: dragMoveListener },
            inertia: true,
            // modifiers: [
            //   interact.modifiers.restrictRect({
            //     restriction: 'parent',
            //     endOnly: true
            //   })
            // ]
          })
      }

      function dragMoveListener(event) {
        var $target = $(event.target)

        let x = (parseFloat($target.attr('data-x')) || 0) + event.dx
        let y = (parseFloat($target.attr('data-y')) || 0) + event.dy

        $target.css('transform', 'translate('+x+'px, '+y+'px)')

        // var style = window.getComputedStyle( $target[0] );
        // var matrix = new WebKitCSSMatrix(style.transform);
        // var { a,b,c,d,e,f,m11,m12,m13,m14,m21,m22,m23,m24,m31,m32,m33,m34,m41,m42,m43,m44 } = matrix
        
        $target.attr('data-x', x)
        $target.attr('data-y', y)
      }
    </script>
  </div>
</body>
</html>